$accent: #ffe9c7;
$white: #ffffff;
$silver: #c0c0c0;
$text: #000000;
$background-color: linear-gradient(to bottom, #fad7a1, #e96d71);

$font-family: "Roboto", sans-serif;

// Desktop first
$breakpoints: (
    // Desktop monitors 1366px and above
    "tl": ("(max-width: 1365px)"),
    // Tablets in landscape mode, older desktop monitors
    "tp": ("(max-width: 1023px)"),
    // Tablets in portrait mode, large display smartphones landscape mode
    "sl": ("(max-width: 767px)"),
    // Smartphones in landscape mode
    "sp": ("(max-width: 420px)"),
    // Smartphones in portrait mode
);
